.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    height: 100%;
  }
}
